@charset "UTF-8";
body {
  font-family: "Roboto";
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

sup {
  vertical-align: super;
  font-size: smaller; }

.header {
  display: flex;
  margin-top: 40px 0;
  width: 900px; }

.logo-box {
  width: 25vh;
  margin-left: 40px; }
  .logo-box__img {
    display: block;
    max-width: 100%; }

.heading {
  margin-left: auto;
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 1.1px; }

.step-line {
  margin-top: 25px;
  width: 100%;
  height: 3px;
  background-color: #ccc;
  display: flex;
  justify-content: space-between; }
  .step-line__dot {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    transform: translateY(-40%);
    position: relative; }
    .step-line__dot--active {
      background-color: transparent;
      animation: 0.6s ease-in forwards animate-color; }
      .step-line__dot--active:not(:first-of-type)::before {
        content: "";
        height: 4px;
        position: absolute;
        top: 53%;
        left: -35px;
        transform: translateY(-50%);
        background-color: #097aff;
        z-index: -1;
        width: 0;
        animation: 0.5s ease-in forwards animate-width; }
    .step-line__dot--done {
      background: url("../img/fajka.png");
      background-color: #097aff;
      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      color: white; }
    .step-line__dot--answer {
      transform: none;
      height: 20px;
      width: 20px;
      background-color: #ccc; }
    .step-line__dot--refuse {
      position: relative; }
      .step-line__dot--refuse::after {
        content: "X";
        color: white;
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.answer-text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 15px; }

.form-view {
  border-radius: 5px;
  height: 600px;
  padding-bottom: 30px;
  width: 80%;
  margin: 50px auto 0;
  position: relative;
  background: rgba(255, 255, 255, 0.85);
  display: none;
  box-shadow: 0 0 10px #b9b9b9; }
  .form-view__title {
    font-size: 24px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center; }
    .form-view__title--final {
      color: white; }
  .form-view__question {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-evenly; }
    .form-view__question--final {
      height: 75%;
      justify-content: flex-start;
      background-color: #097aff;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
  .form-view__input {
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    display: flex; }
    .form-view__input--text {
      margin: 40px auto; }
      .form-view__input--text::after {
        content: "Wpisz imię";
        position: absolute;
        top: -15px;
        left: 30px;
        text-align: center;
        height: 5px;
        width: 15%;
        font-size: 12px;
        padding: 10px;
        color: #097aff;
        background-color: white;
        font-weight: bold; }
    .form-view__input--gender {
      justify-content: space-between;
      margin: 0 auto; }
  .form-view__gender {
    width: 35%;
    padding: 15px;
    cursor: pointer;
    position: relative; }
    .form-view__gender--active {
      border-color: #097aff; }
    .form-view__gender img {
      max-width: 100%;
      display: block; }
  .form-view__text {
    text-align: center;
    margin: 15px 0 10px;
    font-weight: bold;
    line-height: 25px; }
  .form-view__image {
    width: 50%;
    position: absolute;
    z-index: -1; }
    .form-view__image--right {
      right: -30%;
      top: 50%;
      transform: translateY(-50%) translateX(150%); }
      .form-view__image--right > img {
        animation: 1s ease-in 0.2s forwards animate-from-right; }
    .form-view__image--left {
      left: -30%;
      top: 50%;
      transform: translateY(-50%) translateX(-150%); }
      .form-view__image--left > img {
        animation: 1s ease-in 0.2s forwards animate-from-left; }
    .form-view__image-img {
      z-index: -1;
      display: block;
      max-width: 85%; }
  .form-view__answers {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    .form-view__answers--multiple {
      flex-direction: column;
      width: 80%;
      height: 250px; }
      .form-view__answers--multiple > .form-view__answer {
        justify-content: flex-start;
        align-items: center; }
    .form-view__answers--card {
      width: 95%; }
  .form-view__answer {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    position: relative; }
  .form-view__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: relative; }
  .form-view__active-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in; }
  .form-view__greetings-box {
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
    width: 40%;
    background-color: #0862c9;
    border-radius: 20px;
    display: flex;
    justify-content: center; }
  .form-view__greetings-text {
    color: white;
    font-size: 12px;
    padding: 0 15px; }
  .form-view__greetings-icon-box {
    height: 25px;
    width: 80px;
    border-radius: 30px;
    background-color: #0AD488; }
  .form-view__greetings-icon {
    background: url("../img/smile.png");
    background-size: 45%;
    background-repeat: no-repeat;
    height: 25px;
    background-position: center center; }
  .form-view__summary {
    margin-top: 20px;
    width: 60%; }
    .form-view__summary-title {
      color: white;
      font-size: 36px;
      text-align: left;
      padding: 0 30px; }
    .form-view__summary-subtitle {
      margin-top: 20px;
      color: white;
      font-size: 18px;
      text-align: left;
      padding: 0 30px;
      width: 80%; }

.active {
  display: block; }

.card {
  height: 350px;
  width: 30%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative; }
  .card--final {
    position: absolute;
    top: 20%;
    right: 15%;
    background-color: white;
    justify-content: flex-start; }
  .card--small {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 28%;
    right: 3%;
    background-color: white;
    justify-content: flex-start; }
  .card--central {
    width: 35%;
    height: 400px; }
  .card__title {
    font-size: 22px;
    text-align: center;
    padding: 20px 20px 0; }
  .card__text {
    font-size: 14px;
    padding: 0 10px; }
  .card__image {
    height: 50px;
    width: 100px;
    margin: 30px auto; }
    .card__image--final {
      width: 250px; }
    .card__image--small {
      width: 50px; }
    .card__image img {
      max-width: 100%;
      display: block; }
  .card__button {
    height: 50px;
    width: 50px;
    border: 3px solid #ccc;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; }
    .card__button--active {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .2s ease-in;
      background-color: #ccc; }
    .card__button--inactive {
      height: 40px;
      width: 40px;
      background-color: #ccc;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.image-box {
  width: 40%;
  margin: 30px auto 0; }
  .image-box__image {
    transform: translateY(200%);
    max-width: 100%;
    display: block;
    transform: translateY(200%);
    animation: 0.5s ease-in 0.2s forwards animate-from-bottom; }

.text-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 2px solid #eee;
  display: block;
  font-size: 16px;
  padding: 0 10px;
  color: #097aff;
  transition: border .2s ease-in; }
  .text-input:focus {
    border-color: #097aff; }

.cta-container {
  width: 70%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.cta {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative; }
  .cta .button {
    max-width: 100%;
    display: block;
    height: 45px; }

.cta__question-mark {
  margin: auto 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #097aff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; }

.cta__download {
  width: 250px;
  z-index: 3;
  position: absolute;
  padding: 0 30px;
  transform: translateY(-50px); }
  .cta__download .button {
    height: 70px; }

.cta__again::after {
  content: "Od nowa";
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cta__back::after {
  content: "Wstecz";
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cta__next::after {
  content: "Następny";
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cta__download::after {
  content: "Pobierz";
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes animate-from-left {
  from {
    transform: translateX(-150%);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateX(195%);
    opacity: 1;
    visibility: visible; } }

@keyframes animate-width {
  from {
    width: 0; }
  to {
    width: 35px; } }

@keyframes animate-color {
  from {
    background-color: #ccc; }
  to {
    background-color: #097aff; } }

@keyframes animate-from-right {
  from {
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateX(-180%);
    opacity: 1;
    visibility: visible; } }

@keyframes animate-from-bottom {
  from {
    transform: translateY(200%); }
  to {
    transform: translateY(0%); } }

input[type="radio" i] {
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border .2s ease-in;
  z-index: 5; }

input:checked {
  border: 2px solid #097aff; }

input[type="radio"]:checked ~ .step-line__dot {
  background-color: #097aff; }

input[type="radio"]:checked ~ .form-view__circle .form-view__active-circle {
  background-color: #097aff; }

input[type="radio"]:checked ~ .card__button .card__button--active {
  background-color: #097aff; }
