@import "mixins";
@import "variables";

body {
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
}

.container {
  font-family: "Montserrat", sans-serif;
  width: 65vw;
  margin: 0 auto;
  font-weight: 300;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.header {
  display: flex;
  margin: 40px auto;
  width: 90%;
}

.logo-box {
  width: 25vh;
  margin-left: 40px;

  &__img {
    display: block;
    max-width: 100%;
  }
}

.heading {
  margin-left: auto;
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 1.1px;
}

.step-line {
  margin: 25px auto 0;
  width: 100%;
  height: 3px;
  background-color: $base-grey-color;
  display: flex;
  justify-content: space-between;

  &__dot {
    width: 15px;
    height: 15px;
    background-color: $base-grey-color;
    border-radius: 50%;
    transform: translateY(-40%);
    position: relative;

    &--active {
      background-color: transparent;

      animation: 0.6s ease-in forwards animate-color;

      &:not(:first-of-type)::before {
        content: "";
        height: 4px;
        position: absolute;
        top: 53%;
        left: -25px;
        transform: translateY(-50%);
        background-color: $basic-blue-color;
        z-index: -1;
        width: 0;
        animation: 0.5s ease-in forwards animate-width;
      }
    }

    &--done {
      background: url("../img/fajka.png");
      background-color: $basic-blue-color;

      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      color: white;
    }

    &--answer {
      transform: none;
      height: 20px;
      width: 20px;
      background-color: $base-grey-color;
      color: white;
    }

    & i {
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.answer-text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 15px;
}

.form-view {
  border-radius: 5px;
  padding-bottom: 30px;
  margin: 50px auto 0;
  position: relative;
  background: rgba(255, 255, 255, 0.85);
  display: none;
  box-shadow: 0 0 10px #b9b9b9;
  min-height: 500px;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto 30px;
    width: 80%;

    &--final {
      color: white;
    }
  }

  &__question {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    min-height: 400px;

    &--final {
      height: 75%;
      justify-content: flex-start;
      background-color: $basic-blue-color;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    &-2--male,
    &-2--female {
      justify-content: flex-start;
    }
  }

  &__input {
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    display: flex;

    &--text {
      margin: 40px auto;

      &::after {
        content: "Wpisz imię";
        position: absolute;
        top: -15px;
        left: 30px;
        text-align: center;
        height: 5px;
        width: 20%;
        font-size: 12px;
        padding: 10px;
        color: $basic-blue-color;
        background-color: white;
        font-weight: bold;
      }
    }

    &--gender {
      justify-content: space-between;
      margin: 0 auto;
    }
  }

  &__gender {
    width: 35%;
    padding: 15px;
    cursor: pointer;
    position: relative;

    &--active {
      border-color: $basic-blue-color;
    }

    & img {
      max-width: 100%;
      display: block;
    }
  }

  &__text {
    text-align: center;
    margin: 15px 0 10px;
    font-weight: bold;
    line-height: 25px;
  }

  &__image {
    width: 50%;
    position: absolute;
    z-index: -1;

    &--right {
      right: -30%;
      top: 50%;
      transform: translateY(-50%) translateX(150%);

      & > img {
        animation: 1s ease-in 0.2s forwards animate-from-right;
      }
    }

    &--left {
      left: -30%;
      top: 50%;
      transform: translateY(-50%) translateX(-150%);

      & > img {
        animation: 1s ease-in 0.2s forwards animate-from-left;
      }
    }

    &-img {
      z-index: -1;
      display: block;
      max-width: 85%;
    }
  }

  &__answers {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    &--multiple {
      flex-direction: column;
      width: 80%;
      height: 250px;

      & > .form-view__answer {
        justify-content: flex-start;
        align-items: center;
      }
    }

    &--card {
      width: 95%;
    }
  }

  &__answer {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $base-grey-color;
    position: relative;
  }

  &__active-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
  }

  &__greetings-box {
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
    width: 40%;
    background-color: $darker-blue-color;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }

  &__greetings-text {
    color: white;
    font-size: 12px;
    padding: 0 15px;
  }

  &__greetings-icon-box {
    height: 25px;
    width: 80px;
    border-radius: 30px;
    background-color: $light-green-color;
  }

  &__greetings-icon {
    background: url("../img/smile.png");
    background-size: 45%;
    background-repeat: no-repeat;
    height: 25px;
    background-position: center center;
  }

  &__summary {
    margin-top: 20px;
    width: 60%;

    &-title {
      color: white;
      font-size: 28px;
      text-align: left;
      padding: 0 30px;
    }

    &-subtitle {
      margin-top: 20px;
      color: white;
      font-size: 18px;
      text-align: left;
      padding: 0 30px;
      width: 80%;
    }
  }
}

.active {
  display: block;
}

.card {
  height: 350px;
  width: 30%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border-radius: 10px;

  &--final {
    position: absolute;
    top: 20%;
    right: 12%;
    background-color: white;
    justify-content: flex-start;
    border: 3px solid $base-grey-color;
  }

  &--small {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 28%;
    right: -2%;
    background-color: white;
    justify-content: flex-start;
    border: 3px solid $base-grey-color;
  }

  &--central {
    width: 35%;
    height: 400px;
  }

  &__title {
    font-size: 22px;
    text-align: center;
    padding: 20px 20px 0;
  }

  &__text {
    font-size: 14px;
    padding: 0 10px;
  }

  &__image {
    height: 50px;
    width: 100px;
    margin: 30px auto;

    &--final {
      width: 250px;
    }

    &--small {
      width: 50px;
    }

    & img {
      max-width: 100%;
      display: block;
    }
  }

  &__button {
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 5;
    height: 75px;
    width: 50px;
    transform: translateX(-50%);

    &::before {
      position: absolute;
      content: "";
      top: -8%;
      left: 50%;
      height: 50px;
      width: 50px;
      background-color: #fff;
      border: 1px solid $base-grey-color;
      border-radius: 50%;
      transform: translate(-50%);
      z-index: 3;
    }

    &::after {
      position: absolute;
      content: "";
      top: 3%;
      left: 50%;
      height: 35px;
      width: 35px;
      background-color: $base-grey-color;
      z-index: 3;
      border-radius: 50%;
      transform: translate(-50%);
    }
  }
}

.image-box {
  width: 40%;
  margin: 30px auto 0;
  overflow-y: hidden;
  position: absolute;
  right: 20%;
  bottom: 0;
  &__image {
    max-width: 70%;
    transform: translateY(350%);
    animation: 0.5s ease-in 0.2s forwards animate-from-bottom;
    margin: 0 auto;
  }
}

.text-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 2px solid $light-grey-color;
  display: block;
  font-size: 16px;
  padding: 0 10px;
  color: $basic-blue-color;
  transition: border 0.2s ease-in;

  &:focus {
    border-color: $basic-blue-color;
  }
}

.cta-container {
  width: 100%;
  height: 10vh;
  margin: 35px auto 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cta {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: $basic-blue-color;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  transition: all 0.1s ease-in;
  top: 0;
  box-shadow: 0 3px 0 $darker-blue-color;
  padding: 0 20px;
  margin: 0 10px;

  & .fas {
    font-size: 14px;
  }

  & span {
    font-size: 12px;
  }

  &__back span,
  &__again span {
    margin-right: auto;
    margin-left: 15px;
  }

  &__next span {
    margin-left: auto;
    margin-right: 15px;
  }

  &:hover {
    background-color: $light-blue-color;
  }

  &:active {
    top: 3px;
    box-shadow: none;
  }
}

.cta__question-mark {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $basic-blue-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: auto;
  transform: translateY(-25%);

  & i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta__download {
  width: 250px;
  z-index: 3;
  padding: 0 30px;
  transform: translateY(-30px) translateX(50px);
  background-color: $light-blue-color;

  & .button {
    height: 70px;
  }
}

@keyframes animate-from-left {
  from {
    transform: translateX(-150%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(195%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animate-width {
  from {
    width: 0;
  }

  to {
    width: 25px;
  }
}

@keyframes animate-color {
  from {
    background-color: $base-grey-color;
  }

  to {
    background-color: $basic-blue-color;
  }
}

@keyframes animate-from-right {
  from {
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(-180%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animate-from-bottom {
  from {
    transform: translateY(200%);
    visibility: hidden;
    display: none;
  }

  to {
    transform: translateY(5%);
    visibility: visible;
    display: block;
  }
}

input[type="radio"i] {
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  outline: none;
  border: 2px solid $base-grey-color;
  border-radius: 5px;
  transition: border 0.2s ease-in;
  z-index: 5;
}

input:checked {
  border: 2px solid $basic-blue-color;
}

input[type="radio"]:checked ~ .step-line__dot {
  background-color: $basic-blue-color;
}

input[type="radio"]:checked ~ .form-view__circle .form-view__active-circle {
  background-color: $basic-blue-color;
}

input[type="radio"]:checked ~ .card__button::after {
  background-color: $basic-blue-color;
}

// @media only screen and (min-width: 1750px) {
//   @keyframes animate-width {
//     from {
//       width: 0;
//     }

//     to {
//       width: 75px;
//     }
//   }

//   .step-line__dot--active:not(:first-of-type)::before {
//     left: -75px;
//   }
// }

@media only screen and (min-width: 1700px) {
  @keyframes animate-width {
    from {
      width: 0;
    }

    to {
      width: 35px;
    }
  }

  .step-line__dot--active:not(:first-of-type)::before {
    left: -35px;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 60vw;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 75vw;
  }
  .card--final {
    right: 20%;
    width: 25%;
  }

  .card__image--final {
    width: 205px;
  }

  .card--small {
    width: 175px;
  }

  .form-view__image img {
    max-width: 75%;
  }

  .form-view__image--left {
    transform: translateY(-50%) translateX(-115%);
  }

  .form-view__image--right {
    transform: translateY(-50%) translateX(130%);
  }
}

@media only screen and (max-width: 1200px) {
  .form-view__image--left {
    transform: translateY(-50%) translateX(-115%);
  }

  .form-view__image--right {
    transform: translateY(-50%) translateX(130%);
  }
}

@media only screen and (max-width: 1150px) {
  @keyframes animate-width {
    from {
      width: 0;
    }

    to {
      width: 20px;
    }
  }

  .step-line__dot--active:not(:first-of-type)::before {
    left: -20px;
  }

  .image-box__image {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1070px) {
  .form-view__summary-title {
    font-size: 24px;
  }
  .logo-box__img {
    max-width: 90%;
  }

  .heading {
    font-size: 28px;
  }

  .form-view__image img {
    max-width: 70%;
  }

  .form-view__image--left {
    transform: translateY(-50%) translateX(-105%);
  }

  .form-view__image--right {
    transform: translateY(-50%) translateX(120%);
  }

  .form-view__greetings-box {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 995px) {
  .form-view__summary {
    width: 50%;
  }

  @keyframes animate-width {
    from {
      width: 0;
    }

    to {
      width: 16px;
    }
  }

  .step-line__dot--active:not(:first-of-type)::before {
    left: -16px;
  }

  .heading {
    font-size: 24px;
  }

  .card--final {
    right: 28%;
  }

  .card--small {
    right: 6%;
  }

  .cta__download {
    transform: translateY(-40px) translateX(30px);
    width: 150px;
  }

  .image-box__image {
    max-width: 90%;
  }
}

@media only screen and (max-width: 880px) {
  .heading {
    font-size: 20px;
  }

  .form-view__summary-title {
    font-size: 20px;
  }

  .card--final {
    right: 23%;
    height: 270px;
  }

  .card--small {
    width: 150px;
    right: 2%;
  }

  .card__image--final {
    width: 160px;
  }

  .image-box__image {
    max-width: 100%;
  }
}

@media only screen and (max-width: 865px) {
  @keyframes animate-width {
    from {
      width: 0;
    }

    to {
      width: 13px;
    }
  }

  .step-line__dot--active:not(:first-of-type)::before {
    left: -13px;
  }

  .form-view__text {
    font-size: 16px;
  }

  .form-view__input--text::after {
    font-size: 10px;
  }

  .card {
    height: 350px;
    width: 30%;

    &__title {
      font-size: 14px;
      font-weight: bold;
    }

    &__text {
      font-size: 12px;
    }

    &--central {
      width: 35%;
      height: 400px;
    }
  }
}
@media only screen and (max-width: 760px) {
  .step-line {
    display: none;
  }

  .card--final {
    right: 30%;
    height: 200px;
    width: 20%;
  }

  .card__image--final {
    height: 50px;
    width: 110px;
  }

  .card--small {
    width: 20%;
    top: 20%;
    height: 200px;
  }

  .card__image--small {
    width: 35px;
  }

  .card__image img {
    max-width: 90%;
  }

  .form-view__answers--multiple {
    height: 300px;
    width: 85%;
  }

  .image-box {
    width: 45%;
  }
}

@media only screen and (max-width: 730px) {
  .form-view__answers--card {
    flex-direction: column;
    height: 105%;
  }

  .form-view__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .form-view {
    height: auto;
    min-height: 400px;

    &__sub-title {
      font-size: 14px;
    }
  }

  .card {
    height: auto;
    width: 70%;
    margin-bottom: 15px;

    &--central {
      width: 70%;
      min-height: 250px;
    }

    &__button {
      display: none;
    }

    &__title {
      margin-top: 15px;
      padding: 0;
    }

    &__text {
      margin-top: 10px;
    }
  }

  .card--small,
  .card--final {
    width: 20%;
    top: 20%;
    height: 200px;
  }

  .form-view__summary-title {
    font-size: 14px;
  }

  .form-view__summary-subtitle {
    font-size: 12px;
  }

  .form-view__answer {
    width: 50%;
    margin: 10px;
  }

  .header {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .form-view__greetings-box {
    width: 70%;
    margin: 0 auto;
  }

  .form-view__summary {
    width: 75%;
  }

  .card--final {
    width: 25%;
    height: 150px;
    top: 27%;
    right: 2%;
  }

  .card__image--final {
    width: 102px;
  }

  .card--small {
    width: 25%;
    height: 160px;
    top: 62%;
  }

  .card__title {
    font-size: 12px;
  }

  .cta__question-mark {
    height: 50px;
    width: 50px;
    margin-right: 0;
    order: 2;
    transform: translateX(150%);
  }

  .cta-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }

  .cta__again {
    order: 3;
  }

  .cta__back,
  .cta__next,
  .cta__again {
    width: 45%;
  }
}

@media only screen and (max-width: 620px) {
  .form-view__input {
    width: 75%;
  }

  .form-view__answers {
    flex-direction: column;
  }

  .form-view__answer {
    width: 65%;
  }

  .image-box {
    width: 50%;
  }
}

@media only screen and (max-width: 535px) {
  .cta__back,
  .cta__next,
  .cta__again {
    width: 40%;
  }

  .logo-box__img {
    max-width: 75%;
  }

  .form-view__greetings-box {
    width: 80%;
  }

  .logo-box {
    width: 50%;
    text-align: center;
  }

  .heading {
    font-size: 18px;
  }

  .card__image--final {
    width: 90px;
  }

  .image-box {
    width: 60%;
  }
}

@media only screen and (max-width: 430px) {
  .form-view__text {
    font-size: 14px;
  }

  .form-view__greetings-text {
    font-size: 10px;
  }

  .answer-text {
    font-size: 12px;
  }

  .card__image--final {
    width: 70px;
  }

  .cta__download {
    width: 100px;
  }
}
