body {
    font-family: 'Open Sans', sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    margin-top: 80px;
    width: 900px;
}

.logo-box {
    width: 25vh;
    margin-left: 40px;
}

.logo-box__img {
    display: block;
    max-width: 100%;
}

.heading {
    margin-left: auto;
    margin-top: 20px;
    font-size: 32px;
    letter-spacing: 1.1px;
}